<div class="kaminari">
  <%= paginate @refused_transfers %>
</div>
<div class="panel panel-success">
  <div class="panel-heading">Pedidos indeferidos</div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>Nome pessoa</th>
          <th>Desc turno &nbsp; &nbsp;</th>
          <th>Periodo atual</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @refused_transfers.each do |refused_transfer| %>
          <tr>
            <td><%= refused_transfer.NOME_PESSOA %>&nbsp; &nbsp;</td>
            <td><%= refused_transfer.DESC_TURNO %></td>
            <td>&nbsp; &nbsp;<%= refused_transfer.PERIODO_ATUAL %></td>
            <td>&nbsp; &nbsp;<%= link_to 'Mostrar pedido', refused_transfer, :class => 'btn btn-success' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
  </div>
</div>
<div class="kaminari">
  <%= paginate @refused_transfers %>
</div>