<div class="panel panel-success">
  <div class="panel-heading">Dados da transferência</div>
  <div class="panel-body">
    <table class="table">
      <tbody>
        <h2>De:</h2>
          <tr>
            <th>Nome do aluno</th>
            <th>Descrição do turno</th>
            <th>Período atual</th>
            <th colspan="3"></th>
          </tr>
          <tr>
            <td><%= @transfer.NOME_PESSOA %></td>
            <td><%= @transfer.DESC_TURNO %></td>
            <td><%= @transfer.PERIODO_ATUAL %></td>
          </tr>
      </tbody>
      </table>

    <table class="table">
      <tbody>
        <h2>Para:</h2>
          <tr>
            <th>Código da turma</th>
            <th>Descrição do turno</th>
            <th>Periodo atual</th>
            <th>Quantidade de alunos na turma</th>
            <th colspan="3"></th>
          </tr>
          <tr>
            <td><%= @transfer.COD_TURMA %></td>
            <td><%= @transfer.desc_turno %></td>
            <td><%= @transfer.PERIODO_ATUAL %></td>
            <td><%= @dados3%></td>
          </tr>
      </tbody>
    </table>

    <div class="authform">
      <td><%= link_to 'Próximo', edit_transfer_path(@transfer), :class => "btn btn-success"%></td>
      <td><%= link_to 'Voltar', transfers_path, :class => "btn btn-success"%></td>
    </div>
  </div>
</div>
